<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/veterinarianclinic?useSSL=false</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Fqmk5839*</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show.sql">true</property>                
                
                <mapping class="models.entitys.Owner"/>
                <mapping class="models.entitys.Pet"/>
                <mapping class="models.entitys.PetRace"/>
                <mapping class="models.entitys.PetType"/>
                <mapping class="models.entitys.Product"/>
                <mapping class="models.entitys.User"/>
                <mapping class="models.entitys.Order"/>
                <mapping class="models.entitys.Visit"/>
                
	</session-factory>
</hibernate-configuration>
